<html><script src="../server.js" type="text/javascript" charset="utf-8"></script>

<head>
	<title> Remove a Guest from Guestbook </title>
	
	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body> 
	
	<h3> Please enter whom you'd like to remove: </h3>
	<br>
	<div class='container col-md-6'>
		<form name='RemoveForm' class='form' role='form' action='/DeleteGuest' method='post'>
			<div class='form-group'>
				<label for='inputID'>ID</label>
				<input type='text' name='removeID' class='form-control input-normal' placeholder='Enter ID'>
			</div>
			<div class='form-group'>
				<label for='inputName'>Name</label>
				<input type='text' name='removeName' class='form-control input-normal' placeholder='Enter Name'>
			</div>
			<div class='form-group'>
				<button type='submit' class='btn btn-danger'>Delete Guest</button>
			</div>
		</form>
		<form action='/sign-in' method='get'>
			<button type='submit' class='btn btn-default'>Cancel</button>
		</form>
	</div>
</body>
</html>