<html><script src="../server.js" type="text/javascript" charset="utf-8"></script>

<head>
	<title> Remove a Guest from Guestbook </title>
	
	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body> 
	<div class='jumbotron'>
		<h2> Please enter whom you'd like to remove: 
			<small>	You can delete by their ID number and/or name. </small>
		</h2>
	</div>
	<br>
	<div class='container'>
		<form name='RemoveForm' class='form' role='form' action='/DeleteGuest' method='post'>
			<div class='form-group'>
				<label for='inputID'>ID to remove</label>
				<input type='text' name='removeID' class='form-control input-normal' placeholder='Enter ID'>
			</div>
			<div class='form-group'>
				<label for='inputName'>Name to remove</label>
				<input type='text' name='removeName' class='form-control input-normal' placeholder='Enter Name'>
			</div>
			<div class='form-group'>
				<button type='submit' class='btn btn-danger'>Delete Guest</button>
			</div>
		</form>
		<form action='/sign-in' method='get'>
			<button type='submit' class='btn btn-warning'>Cancel</button>
		</form>
	</div>
	<div style='background-color:#eee'>
		<footer class='bs-footer' role='content-info'>
			<br>
			<p class='text-center'> Designed, built and maintained by James</p>
			<p class='text-center'> with hopes that this will one day kick off a </p>
			<p class='text-center'> fun and adventurous journey into the programming world </p>
			<br>
		</footer>
	</div>
</body>
</html>