
head
	title My Guestbook

	link(href='/css/bootstrap.min.css' rel='stylesheet')

body
	h1#title Guestbook
	div.container
		table(class='table table-hover')
			thread
				tr
					th
						div.row-odd
							div.col-md-1.
								ID
							div.col-md-2.
								Name
							div.col-md-6.
								Comments
							div.col-md-3.
								Created on	
				- console.log("inside jade, row = " + rows.length);
				- console.log("inside jade: " + rows[0].id);
				- console.log("inside jade: " + rows[0].name);
				- console.log("inside jade: " + rows[0].comment);
				- console.log("inside jade: " + rows[0].created_at);
				- for(var i = 0; i < rows.length; i++){
					tbody
						tr
							td
								div.row-even
									div.col-md-1.
										#{rows[i].id}
									div.col-md-2.
										#{rows[i].name}
									div.col-md-6.
										#{rows[i].comment}
									div.col-md-3.
										#{rows[i].created_at}
				- }
			