head
	title My Guestbook

	link(href='/css/bootstrap.min.css' rel='stylesheet')

body
	h1#title Guestbook
	div.container
		table(class='table table-hover')
			thread
				tr
					th
						div.row-odd
							div.col-md-1.
								ID
							div.col-md-2.
								Name
							div.col-md-5.
								Comments
							div.col-md-4.
								Created on					
				- for(var i = 0; i < rows.length; i++){
					tbody
						tr
							td
								div.row
									div.col-md-1.
										#{rows[i].id}
									div.col-md-2.
										#{rows[i].name}
									div.col-md-5.
										#{rows[i].comment}
									div.col-md-4.
										#{rows[i].created_at}
				- }
		form(name='submitButton' action='/sign-in' method='get')		
			button(type='submit' class='btn btn-info').
				Back
			